/* Nav CSS */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{

    background-color: #FD6E0A ;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px ;
    border: none;
    border-radius: 5px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}


/* Banner CSS */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 700;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic{
   width: 580px; 
}